<head>
    <title>N.O.D.E</title>

    <meta http-equiv="refresh" content="120">

    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
        rel="icon" type="image/x-icon" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<div class="container-fluid bg-transparent">

    <nav class="navbar navbar-light bg-light sticky-top shadow-sm">
        <span class="navbar-brand mb-0 h1"><b>N.O.D.E</b></span>

        <button class="navbar-toggler bg-info" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Admin Login</a>
                </li>
            </ul>
            <span class="navbar-text">
                Made with love 😘
            </span>
        </div>
    </nav>
    <br>

    <div class="row text-center">
        <div class="col">
            <div class="form-group">
                <form action="/score_special" method="post" name="point select">
                    {% csrf_token %}
                    <p>Name of special point: </p>
                    <input class="form-control form-control-lg" type="text" placeholder="Point name" name="Point">
            </div>
            <div class="form-group">
                <p>Point value: </p>
                <input class="form-control form-control-lg" type="number" value="1" name="Value">
            </div>
            <div class="form-group">
                <p>Who scored? </p>
                <select class="form-control form-control-lg" name="Scoree">
                    <option value="BTH">
                        Both of us
                    </option>
                    <option value="AMK">
                        Annaleise
                    </option>
                    <option value="TDS">
                        Tobin
                    </option>
                </select>
            </div>
            <input type="submit" class="btn btn-info btn-lg btn-block" value="Submit">
        </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
    
</div>